<div class="view">
  <header>
    <h1 class = "title">{{ title}}</h1>
    <div class="button" (mousedown) = "toggleInputState()">
      <i class="button-icon fas fa-pencil-alt"></i>
    </div>
    <input
      [ngClass] = "{'new-note-input--active' : titleInputActive}"
      (keyup.enter) = "addNewNote()"
      [(ngModel)] = "noteTitle"
      class = "new-note-input" type="text" placeholder="Enter your title here...">
  </header>

  <aside class = "notes-list">
    <div
      *ngFor = "let note of notes"
      (click) = "onSelect(note)"
      class="notes-list-entry">
      {{ note.title }}
      <i (click) = "deleteNote(note.id)" class="button-icon aside-button fas fa-trash-alt"></i>
    </div>
  </aside>

  <div class="content">
    <note-item *ngIf = "!isEmpty()" [activeNote]= "selectedNote"></note-item>
  </div>


</div>